<!-- INCLUDE overall_header.html -->

<h1>{L_SETTINGS}</h1>

<form id="acp_board" method="post" action="{U_ACTION}">
	<fieldset>
    {% if UKRGB_ACP_MODE == 'settings' %}
        <dl>
            <dt>
                <label for="ukrgb_jfusion_jname">{L_ACP_UKRGB_JFUSION_JNAME}{L_COLON}</label>
            </dt>
            <dd>
                <input type="text" id="ukrgb_jfusion_jname"  name="ukrgb_jfusion_jname" value="{UKRGB_JFUSION_JNAME}"/>
            </dd>
        </dl>

        <dl>
            <dt>
                <label for="ukrgb_jfusion_apipath">{L_ACP_UKRGB_JFUSION_APIPATH}{L_COLON}</label>
            </dt>
            <dd>
                <input type="text" id="ukrgb_jfusion_apipath" name="ukrgb_jfusion_apipath" value="{UKRGB_JFUSION_APIPATH}"/>
            </dd>
        </dl>
        
        <dl>
            <dt>
                <label for="ukrgb_secret">{L_ACP_UKRGB_SECRET}{L_COLON}</label>
            </dt>
            <dd>
                <input type="text" id="ukrgb_secret" name="ukrgb_secret" value="{UKRGB_SECRET}"/>
            </dd>
        </dl>
		<dl>
			<dt>
				<label for="ukrgb_beta_enabled">{L_ACP_UKRGB_ENABLE_BETA}{L_COLON}</label>
			</dt>
			<dd><input type="radio" class="radio" id="ukrgb_beta_enabled" name="ukrgb_beta_enabled" value="1" <!-- IF UKRGB_BETA_ENABLED -->checked="checked"<!-- ENDIF -->/> {L_YES} &nbsp;
				<input type="radio" class="radio" name="ukrgb_beta_enabled" value="0" <!-- IF not UKRGB_BETA_ENABLED -->checked="checked"<!-- ENDIF --> /> {L_NO}
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="ukrgb_beta_group">{L_ACP_UKRGB_BETA_GROUP}{L_COLON}</label>
			</dt>
			<dd>
				<input type="text" id="ukrgb_beta_group" name="ukrgb_beta_group" value="{UKRGB_BETA_GROUP}"/>
			</dd>
		</dl>
	{% elseif UKRGB_ACP_MODE == 'fb_app_settings' %}
   		<dl>
            <dt>
                <label for="ukrgb_fb_appid">{L_ACP_UKRGB_FB_APPID}{L_COLON}</label>
            </dt>
            <dd>
				<input type="text" id="ukrgb_fb_appid" name="ukrgb_fb_appid" value="{UKRGB_FB_APPID}"/>
            </dd>
        </dl>
   		<dl>
            <dt>
                <label for="ukrgb_fb_secret">{L_ACP_UKRGB_FB_SECRET}{L_COLON}</label>
            </dt>
            <dd>
                <input type="text" id="ukrgb_fb_secret" name="ukrgb_fb_secret" value="{UKRGB_FB_SECRET}"/>
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="ukrgb_fb_page_mgr">{L_ACP_UKRGB_FB_PAGE_MGR}{L_COLON}</label>
            </dt>
            <dd>
                <input type="text" id="ukrgb_fb_page_mgr" name="ukrgb_fb_page_mgr" value="{UKRGB_FB_PAGE_MGR}"/>
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="ukrgb_fb_page_id">{L_ACP_UKRGB_FB_PAGE_ID}{L_COLON}</label>
            </dt>
            <dd>
                <input type="text" id="ukrgb_fb_page_id" name="ukrgb_fb_page_id" value="{UKRGB_FB_PAGE_ID}"/>
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="ukrgb_fb_subforums">{L_ACP_UKRGB_FB_SUBFORUMS}{L_COLON}</label>
            </dt>
            <dd>
                <input type="text" id="ukrgb_fb_subforums" name="ukrgb_fb_subforums" value="{UKRGB_FB_SUBFORUMS}"/>
            </dd>
        </dl>
        <dl>
			<dt>
				<label for="ukrgb_fb_auto_post">{L_APC_UKRGB_AUTO_POST}{L_COLON}</label>
			</dt>
			<dd><input type="radio" class="radio" id="ukrgb_fb_auto_post" name="ukrgb_fb_auto_post" value="1" <!-- IF UKRGB_FB_AUTO_POST -->checked="checked"<!-- ENDIF -->/> {L_YES} &nbsp;
				<input type="radio" class="radio" name="ukrgb_fb_auto_post" value="0" <!-- IF not UKRGB_FB_AUTO_POST -->checked="checked"<!-- ENDIF --> /> {L_NO}
			</dd>
		</dl>
		<dl>
            <dt>
                <label for="ukrgb_delayed_action_gc">{L_ACP_UKRGB_CRON_FREQUENCY}{L_COLON}</label>
            </dt>
            <dd>
                <input type="text" id="ukrgb_delayed_action_gc" name="ukrgb_delayed_action_gc" value="{UKRGB_CRON_FREQUENCY}"/>
            </dd>
        </dl>
    {% else %}

        <dl>
            <dt>
                <label for="ukrgb_image_aws_region">{L_ACP_UKRGB_IMAGE_AWS_REGION}{L_COLON}</label>
            </dt>
            <dd>
                <input type="text" id="ukrgb_image_aws_region" name="ukrgb_image_aws_region" value="{UKRGB_IMAGE_AWS_REGION}"/>
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="ukrgb_image_aws_key">{L_ACP_UKRGB_IMAGE_AWS_KEY}{L_COLON}</label>
            </dt>
            <dd>
                <input type="text" id="ukrgb_image_aws_key" name="ukrgb_image_aws_key" value="{UKRGB_IMAGE_AWS_KEY}"/>
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="ukrgb_image_aws_secret">{L_ACP_UKRGB_IMAGE_AWS_SECRET}{L_COLON}</label>
            </dt>
            <dd>
                <input type="text" id="ukrgb_image_aws_secret" name="ukrgb_image_aws_secret" value="{UKRGB_IMAGE_AWS_SECRET}"/>
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="ukrgb_image_ses_queue_url">{L_ACP_UKRGB_IMAGE_SES_QUEUE}{L_COLON}</label>
            </dt>
            <dd>
                <input type="text" id="ukrgb_image_ses_queue_url" name="ukrgb_image_ses_queue_url" value="{UKRGB_IMAGE_SES_QUEUE}"/>
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="ukrgb_image_s3_bucket">{L_ACP_UKRGB_IMAGE_S3_BUCKET}{L_COLON}</label>
            </dt>
            <dd>
                <input type="text" id="ukrgb_image_s3_bucket" name="ukrgb_image_s3_bucket" value="{UKRGB_IMAGE_S3_BUCKET}"/>
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="ukrgb_image_s3_prefix">{L_ACP_UKRGB_IMAGE_S3_PREFIX}{L_COLON}</label>
            </dt>
            <dd>
                <input type="text" id="ukrgb_image_s3_prefix" name="ukrgb_image_s3_prefix" value="{UKRGB_IMAGE_S3_PREFIX}"/>
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="ukrgb_image_sqs_enabled">{L_ACP_UKRGB_IMAGE_SQS_READ}{L_COLON}</label>
            </dt>
            <dd><input type="radio" class="radio" id="ukrgb_image_sqs_enabled" name="ukrgb_image_sqs_enabled" value="1" <!-- IF UKRGB_IMAGE_SQS_ENABLED -->checked="checked"<!-- ENDIF -->/> {L_YES} &nbsp;
                <input type="radio" class="radio" name="ukrgb_image_sqs_enabled" value="0" <!-- IF not UKRGB_IMAGE_SQS_ENABLED -->checked="checked"<!-- ENDIF --> /> {L_NO}
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="ukrgb_cleanup_gc">{L_ACP_UKRGB_CRON_FREQ_CLEANUP}{L_COLON}</label>
            </dt>
            <dd>
                <input type="text" id="ukrgb_cleanup_gc" name="ukrgb_cleanup_gc" value="{UKRGB_CRON_FREQ_CLEANUP}"/>
            </dd>
        </dl>
     {% endif %}
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
		</p>

		{S_FORM_TOKEN}
	</fieldset>
</form>
{% if UKRGB_FB_TOKEN_REFRESH %}

<a href="{U_UKRGB_GET_FB_TOKEN}">{L_APC_UKRGB_GET_TOKEN}</a>
<br>

{% endif %}
{% if UKRGB_ACP_MODE == 'b_app_settings' %}
<table class="table1 two-columns no-header responsive show-header" data-no-responsive-header="true">
		<caption>{L_ACP_PAGE_TOKEN}</caption>
		<colgroup><col class="col1"><col class="col2"><col class="col2">
		</colgroup><thead>
		<tr>
			<th>{L_APC_UKRGB_FIELD}</th>
			<th>{L_APC_UKRGB_VALUE}</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="col1">{L_ACP_UKRGB_FBPT_APP}: </td>
			<td class="col2"><strong>{UKRGB_FBPT_APP_ID} - {UKRGB_FBPT_APP_NAME}</strong></td>
		</tr>
		<tr>
			<td class="col1">{L_ACP_UKRGB_FBPT_EXPIRES}: </td>
			<td class="col2"><strong>{UKRGB_FBPT_EXPIRES}</strong></td>
		</tr>
		<tr>
			<td class="col1">{L_ACP_UKRGB_FBPT_VALID}: </td>
			<td class="col2"><strong>{UKRGB_FBPT_VALID}</strong></td>
		</tr>
		<tr>
			<td class="col1">{L_ACP_UKRGB_FBPT_ISSUED}: </td>
			<td class="col2"><strong>{UKRGB_FBPT_ISSUED}</strong></td>
		</tr>
		<tr>
			<td class="col1">{L_ACP_UKRGB_FBPT_SCOPE}: </td>
			<td class="col2"><strong>{UKRGB_FBPT_SCOPE}</strong></td>
		</tr>
		<tr>
			<td class="col1">{L_ACP_UKRGB_FBPT_ERROR}: </td>
			<td class="col2"><strong>{UKRGB_FBPT_ERROR}</strong></td>
		</tr>
	</tbody>
</table>
{% elseif UKRGB_ACP_MODE == 'image_settings' %}
<form id="acp_board_orphan_image" method="post" action="{U_ACTION}">
    <fieldset>
        <p class="buttons">{L_APC_UKRGB_ORPHAN_IMAGE_MSG}
            <input class="button" type="submit" id="orphan_image" name="orphan_image" value="{L_SUBMIT}" />&nbsp;
        </p>

        <dl>
            <dt><label>{L_APC_UKRGB_ORPHAN_IMAGE}</label></dt>
            <dd><label>{UKRGB_ORPHAN_IMAGE_COUNT}</label></dd>
        </dl>
        <dl>
            <dt><label>{L_APC_UKRGB_ORPHAN_INVALID_IMAGE}</label></dt>
            <dd><label>{UKRGB_ORPHAN_INVALID_COUNT}</label></dd>
        </dl>

        </table>
        {S_HIDDEN_FIELDS}
        {S_FORM_TOKEN}
    </fieldset>
</form>
{% endif %}

<!-- INCLUDE overall_footer.html -->