<link href=./ext/ukrgb/template/vue-app/static/css/app.20cd4c9451d649974e35d14edf369f33.css rel=stylesheet>
<meta property="fb:app_id"             content="{UKRGB_FB_APPID}" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="{PAGE_TITLE}" />
{% if PAGE_TITLE != FORUM_NAME and FORUM_NAME %}
<meta property="og:description"        content="{FORUM_NAME}" />
{% endif %}
<meta property="og:image"              content="{U_UKRGB_FB_BANNER}" />
{% if U_CANONICAL %}
<meta property="og:url"                content="{U_CANONICAL}" />
{% endif %}