<div class="panel bg3" id="s3-upload-panel" style="display: block;">
	<div class="inner">
		<div id="uploads3">
		<script>var phpbbUserId = {U_UKRGB_USER_ID};</script>
		<script type=text/javascript src=./ext/ukrgb/template/vue-app/static/js/manifest.97ce29dc126323ce7397.js></script>
		<script type=text/javascript src=./ext/ukrgb/template/vue-app/static/js/vendor.b7dbbc3a9a48c67ab766.js></script>
		<script type=text/javascript src=./ext/ukrgb/template/vue-app/static/js/app.f9d89677fe5542352ce1.js></script>
		</div>
	</div>
</div>
