{% if IS_BETA_TEST %}
<div class="panel bg3" id="s3-upload-panel" style="display: block;">
	<div class="inner">
		<div id="uploads3">
		<script>var phpbbUserId = {U_UKRGB_USER_ID};</script>
		<script type=text/javascript src=./ext/ukrgb/template/vue-app/static/js/manifest.4de405623911ecf9afeb.js></script>
		<script type=text/javascript src=./ext/ukrgb/template/vue-app/static/js/vendor.05cda247994ea59e1de6.js></script>
		<script type=text/javascript src=./ext/ukrgb/template/vue-app/static/js/app.82d7aa4c9a6fcc59600e.js></script>
		</div>
	</div>
</div>
{% endif %}