<div class="panel bg3" id="s3-upload-panel" style="display: block;">
	<div class="inner">
		<div id="uploads3">
		<script>var phpbbUserId = {U_UKRGB_USER_ID};</script>
		<script type=text/javascript src=./ext/ukrgb/template/vue-app/static/js/manifest.291e26e4ea76d2abef36.js></script>
		<script type=text/javascript src=./ext/ukrgb/template/vue-app/static/js/vendor.b7dbbc3a9a48c67ab766.js></script>
		<script type=text/javascript src=./ext/ukrgb/template/vue-app/static/js/app.2fb6896e03f941b47427.js></script>
		</div>
	</div>
</div>
