<!-- IF UKRGB_SHOW_PP_DONATE  -->
<div class="buttons">
<form action="{U_UKRGB_PP_URL}" method="post">
	<input type="hidden" name="cmd" value="_s-xclick"> 
	<input type="hidden" name="hosted_button_id" value="{UKRGB_PP_HOSTED_BUTTON_ID}">
	<input type="hidden" name="custom" value="UK Rivers Guidebook">
	<input type="hidden" name="item_name" value="{FORUM_NAME}:UKRGB Donation"> 
	<input
		type="image"
		src="https://www.paypal.com/en_GB/i/btn/btn_donate_LG.gif"
		name="submit" alt="PayPal"> <img alt="" border="0"
		src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1"
		height="1">
</form>
</div>
<!-- ENDIF -->